.faq {
  &-item {
    &--teaser {
      padding: 30px;
      margin-bottom: 20px;
    }

    &--full {
      padding-top: 40px;
      &__content {
        margin-bottom: 100px;
      }
    }
  }

  &-no-results {
    display: none;
  }
}
