{% if enable_search_bar %}
  <div class="sidebar">
    {{ components.search }}
    {{ components.exposed_filters }}
  </div>
{% endif %}
<div class="faq-wrapper">
  {{ components.view }}
  <div class="faq-no-results">
    {{ 'No FAQ items were found'|t }}
  </div>
</div>
